[submodule "CowboyPewPew/vendor/GLFW"]
	path = CowboyPewPew/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "CowboyPewPew/vendor/emscripten"]
	path = CowboyPewPew/vendor/emscripten
	url = https://github.com/emscripten-core/emscripten
