[submodule "CowboyPewPew/vendor/GLFW"]
	path = Tetrifx/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "CowboyPewPew/vendor/spdlog"]
	path = Tetrifx/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CowboyPewPew/vendor/glm"]
	path = Tetrifx/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "CowboyPewPew/vendor/imgui"]
	path = Tetrifx/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
